@{
    ViewData["Title"] = "Home Page";
}


<div class="container" style="padding-left:10em">
    <h4>Employee Registration</h4>
    <hr>
</div>
<div class="align-items-baseline" style="padding-left:24em">
    <a class="AddRecord" asp-action="CreateEmployee">
        Create Employee
    </a>
    <br />
    <a class="AddRecord" asp-action="ViewRecords">
        View Employees
    </a>
    <br />
</div>



